@import "tailwindcss";

:root {
  --primary-color: #f7a8b8; /* Hồng pastel */
  --secondary-color: #f9f4f4; /* Trắng tinh tế */
  --highlight-color: #ffcb3f; /* Vàng đồng */
  --text-color: #222222;
  --bg-color: #fafafa; /* Nền sáng */
  --gradient: linear-gradient(135deg, #f7a8b8 0%, #ffcb3f 100%);
  --font-style-script: "Style Script", cursive;
  --font-great-vibes: "Great Vibes", cursive;
  --font-clicker-script: "Clicker Script", cursive;
  --font-playfair-display: "Playfair Display", serif;
  --gray-gradient: radial-gradient(
    173% 108% at -21.3% 50%,
    rgb(100, 96, 89) 27%,
    rgb(187, 180, 168) 87%
  );
  --green-gradient: linear-gradient(
    358deg,
    rgb(51, 73, 46) -5%,
    rgb(20, 28, 19) 88%
  );
  --yellow-text: #bd9976;
}

.font-style {
  font-family: var(--font-style-script);
}

.font-great {
  font-family: var(--font-great-vibes);
}

.font-clicker {
  font-family: var(--font-clicker-script);
}

.font-hepta {
  font-family: var(--font-hepta-slab);
}

.gray-gradient {
  background: var(--gray-gradient);
}

.green-gradient {
  background: var(--green-gradient);
}

.yellow-text {
  color: var(--yellow-text);
}

body {
  color: #b8b8b8;
  font-family: var(--font-playfair-display);
  background: linear-gradient(to bottom, #ffffff, #f5f5f5, #555555);
  /* background: url(/images/app-bg.jpg); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding: 2rem 2rem;
}

/* Gradient background */
.bg-gradient {
  background: var(--gradient);
}

.hero-bg {
  background: linear-gradient(
      to top,
      rgba(80, 80, 80, 1),
      rgba(240, 240, 240, 0.02)
    ),
    url(/images/album/1.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.damngo-bg {
  background: linear-gradient(
      to top,
      rgba(80, 80, 80, 1),
      rgba(240, 240, 240, 0.3)
    ),
    url(/images/damngo2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-bg {
  background: linear-gradient(
      to top,
      rgba(80, 80, 80, 1),
      rgba(240, 240, 240, 0.02)
    ),
    url(/images/event-bg.png);
  background-attachment: fixed;
  background-position: center 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bride-bg {
  /* background: linear-gradient(
      to top,
      rgba(80, 80, 80, 1),
      rgba(240, 240, 240, 0.02)
    ),
    url(/images/bride1.jpg); */
  background: url(/images/bride1.jpg);
  background-attachment: fixed;
  /* background-position: center 42% */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-bg {
  background: linear-gradient(
      to top,
      rgba(80, 80, 80, 1),
      rgba(240, 240, 240, 0.08)
    ),
    url(/images/welcome.jpg);
  background-attachment: fixed;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline-bg {
  background: linear-gradient(
    to bottom right,
    #fce4ec,
    /* Hồng pastel nhạt */ #e1f5fe,
    /* Xanh pastel nhạt */ #ede7f6 /* Tím pastel nhạt */
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .hero-bg,
  .event-bg,
  .welcome-bg,
  .wedding-gradient,
  .bride-bg {
    background-attachment: scroll; /* Chuyển sang scroll trên thiết bị di động */
  }
}

.wedding-gradient {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(245, 245, 245, 0.8)
    ),
    url("/images/wedding.jpg");
  background-size: cover;
}

/* Cards with shadow and hover effect */
.card {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Hover and focus for inputs */
input:focus,
textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
  box-shadow: 0 0 5px var(--highlight-color);
}

/* Smooth transitions for images */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* New gradient background */
.bg-pink-100 {
  background: var(--gradient);
}

.text-pink-700 {
  color: var(--highlight-color);
}

.text-pink-800 {
  color: var(--primary-color);
}

.text-gray-700 {
  color: #555555;
}

.bg-wedding {
  background-image: url("/images/wedding1.jpg"), url("/images/wedding2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .bg-wedding {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 480px) {
  .bg-wedding {
    background-image: url("/images/wedding1.jpg");
  }
}
